body {
    background: #ffab4c;
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #ff9658;
    color: white;
    margin-top: 0px;
    z-index: 1000;
    max-height: 150px;
    margin-left: auto;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: .3s;

}

nav a:hover {
    color: #38bdf8;
}

.logo img {
    height: 90px;
    width: 200px;
    margin-left: 30px;
    border: none;
    border-radius: 50px;
}


.starlogo img {
    width: 45px;
    margin-left: auto;
    height: 90px;
    height: 110px;
    border: none;
    border-radius: 50px;
    margin-right: 100px;

}







.country-title {

    text-align: center;
    margin: 20px;
    font-size: 35px;

}

.back {

    text-decoration: none;
    margin: 20px;
    display: inline-block;
    font-size: 18px;

}

.places {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;

}

.place {

    background: rgb(253, 188, 91);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: .4s;

}

.place img {

    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: .4s;

}

.place:hover img {

    transform: scale(1.1);

}

.place h3 {

    text-align: center;
    padding: 10px;

}

.place p {

    padding: 15px;
    line-height: 1.6;
    text-align: center;
}

.site-footer {
    background: #ff9658;
    backdrop-filter: blur(8px);
    color: white;
    padding: 40px 20px 20px 20px;
    margin-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.footer-section {
    min-width: 200px;
    text-align: center;
}

.footer-section h3 {
    margin-bottom: 10px;
}


.footer-section a:hover {
    color: #66c0f4;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #ff9658;
    padding-top: 15px;
    margin-top: 20px;
    font-size: 14px;
}


.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.social-links a {
    font-size: 22px;
    color: #555;
    transition: 0.3s;
}

.social-links a:hover {
    color: #2196f3;
    transform: scale(1.2);
}

.copy {
    margin-top: 25px;
    opacity: 0.6;
    text-align: center;
}

@media(max-width:700px) {
    header {
        flex-direction: column;
        padding: 15px 30px;
    }

    nav {
        margin-top: 10px;
    }

}
